.next/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env*.local
.env

.vercel

.git/
.gitignore
.eslintcache
*.log

.idea/
.vscode/
*.swp
*.swo
.DS_Store

README.md
*.md